.app {
  text-align: center;
  width: 100%;
  height: 100%;
  display:flex;
  flex-flow: row nowrap;
  @media  screen and ( max-width: 500px ) {
    flex-flow: column nowrap;
    .main-container{
      align-self: flex-end;
    }
  }
}





